@model MachineManagement.Portal.UI.Models.MachineViewModel
@{
    ViewBag.Title = Model.Id == 0 ? "Add" : "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Machines"))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Ip, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Ip, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Ip, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", Value = string.IsNullOrEmpty(Model.Username) && Model.Id == 0 ? Model.DefaultMachineUsername : Model.Username })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", Value = string.IsNullOrEmpty(Model.Password) && Model.Id == 0 ? Model.DefaultMachinePassword : Model.Password })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProxyName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProxyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProxyName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProxyResourceGroup, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProxyResourceGroup, new { @class = "form-control", Value = string.IsNullOrEmpty(Model.ProxyResourceGroup) && Model.Id == 0 ? Model.DefaultProxyResourceGroup : Model.ProxyResourceGroup })
                @Html.ValidationMessageFor(m => m.ProxyResourceGroup, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProxyIP, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProxyIP, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProxyIP, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProxyUsername, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProxyUsername, new { @class = "form-control", Value = string.IsNullOrEmpty(Model.ProxyUsername) && Model.Id == 0 ? Model.DefaultProxyUsername : Model.ProxyUsername })
                @Html.ValidationMessageFor(m => m.ProxyUsername, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProxyPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ProxyPassword, new { @class = "form-control", Value = string.IsNullOrEmpty(Model.ProxyPassword) && Model.Id == 0 ? Model.DefaultProxyPassword : Model.ProxyPassword })
                @Html.ValidationMessageFor(m => m.ProxyPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.BotUsername, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.BotUsername, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BotUsername, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.BotPassword, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.BotPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BotPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", rows = "5", cols = "50" })
                @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        }
    </div>
</div>
